<main class="main">
  <h1>Hello, {{ title }}</h1>
  <!--Sebbe-->
  <nav>
    <ul>
      <li><a routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a></li>
      @if((loggedIn$ | async)?.loginState ){
      <li><a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a></li>
      <li>Logged in as {{(loggedIn$ | async)?.user?.name}}</li>

      } @else {
      <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
      <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
      }
    </ul>
  </nav>
  <p>❤️Congratulations! Your app is running.❤️ </p>

</main>
<router-outlet />