<div class="flex justify-center items-center h-screen ">
   <div class="max-w-lg mx-auto p-8 bg-white rounded-lg shadow-md">
      <h2 class="text-2xl font-bold mb-4">{{ recipe?.label }}</h2>
      <div class="grid grid-cols-1 gap-4">
         <img src="{{ recipe?.image }}" alt="{{ recipe?.label }}" />


         <h2 class="text-lg font-semibold mb-2">Recipe Details:</h2>
         <br />


         <article>
            <ul>
               @for (line of recipe?.ingredientLines; track line) {
               <li>{{ line }}</li>
               }
            </ul>
            <p class="text-lg text-gray-800">
               <span class="font-semibold">Cuisine:</span>
               {{ recipe?.cuisineType }}
            </p>
            <br />
            <p class="text-lg text-gray-800"><span class="font-semibold">Good for:</span> {{ recipe?.mealType }}</p>


            <p class="text-lg text-gray-800"><span class="font-semibold">Total Time: </span>{{ recipe?.totalTime }}
               minutes</p>
            <br />


            <!--    <strong>Type of meal:</strong>
   <p class="tags">{{ recipe?.mealType }}</p>
 -->
            <p class="text-lg text-gray-800"><span class="font-semibold">Category:</span> {{ recipe?.dishType }}</p>
            <!--  <p class="text-lg text-gray-800"><span class="font-semibold">instructions:</span> {{ recipe?.instructions }}
            </p> -->
            <!--             <p class="tags">{{ recipe?.instructions }}</p>
 -->
            <p class="tags">{{ recipe?.tags }}</p>
            <p class="text-lg text-gray-800"><span class="font-semibold">!Cautions!: </span>{{ recipe?.cautions }}</p>

            <br />
         </article>
      </div>
   </div>
</div>