<footer class="bg-latte fixed bottom-0 w-screen h-10 mx-auto flex text-black py-4 justify-between p-4">

   <div class="container mx-auto flex justify-start">
      <a class="font-semibold hover:text-white hover:scale-110 transition-transform" href="/">Whats's
         cookin'ey?</a>
   </div>
   <div class="container mx-auto flex justify-end">
      <a class="mx-2 hover:text-white hover:scale-110 transition-transform" href="https://github.com/lemonyblossom">Emma
         Jensen - Github </a>
      <a class="mx-2 inline-block transform hover:scale-110 transition-transform"
         href="mailto:example@hotmail.com">&#9993;</a>
      <a class="mx-2 inline-block transform hover:scale-110 transition-transform" href="tel:+46700000000">&#x1F4DE;</a>
   </div>

</footer>